<h2>Welcome to Blocipedia</h2>
<h4>You are logged in using the email: <%= current_user.email %> </h4>


<h1>All Wikis</h1>
  <p><%= link_to user_wiki.title, user.wiki_path(wiki.id) %></p>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to user_wiki.title, wiki %>
      </h4>
    </div>
  </div>
<% end %>
