// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: blue;
  font-size: 26px;
  font-family: cursive;
  font-style: italic;
  margin-left: 80px;
  padding-top: 30px;
}

p {
  color: black;
  font-size: 17px;
  font-family: sans-serif, Trebuchet;
  margin-left: 80px;
}
